.list {
    padding: 55px;
    padding-top: 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    width: 25%;
    float: left;
    height: 100vh;
    background: #EFEFEF
}

a {
    cursor: pointer;
}

.room {
    width: 55%;
    float: left;
    margin: 15px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 15px;
    font-family: 'Libre Baskerville', serif;
}

.online-users {
    padding: 55px;
    padding-top: 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    width: 20%;
    float: left;
    height: 100vh;
    background: #EFEFEF
}

.message {
    margin: 5px;
    padding: 5px;
    background: #EFDFFF;
    border-radius: 5px;
}

.username {
    font-weight: bold;
}

.sent-at {
    font-style: italic;
}

.message-content {
    padding-top: 5px;
}

.current-user {
    text-align: right;
    position: absolute;
    right: 15px;
    top: 20px;
}

.current-room {
    text-align: left;
    position: relative;
    left: 15px;
    top: -10px;
}
