<main class="list">
    <h1>Bloc Chat</h1>
    <hr>
    <section>
        <button ng-click="home.addRoom()">Create New Room</button>
    </section>
    <br>
    <section>
        <ul>
            <div ng-repeat="rooms in home.rooms">
                <a ng-click="home.changeRoom(rooms)"><li>{{ rooms.$value }}</li></a>
            </div>
        </ul>
    </section>
</main>
<section class="room">
    <h2 class="current-room">{{ home.activeRoom.$value }}</h2>
    <h3 class="current-user">Welcome {{ home.username }}</h3>
    <hr>
    <div class="message" ng-repeat="messages in home.messages">
        <p class="username" style="display: inline">{{ messages.username }}</p>
        <p class="sent-at" style="display: inline">{{ messages.sentAt }}</p>
        <p class="message-content">{{ messages.content }}</p>
    </div>
</section>
