<main class="list">
    <h1>Bloc Chat</h1>
    <hr>
    <section>
        <button ng-click="home.addRoom()">Create New Room</button>
    </section>
    <br>
    <section>
        <ul>
            <div ng-repeat="rooms in home.rooms">
                <a ng-click="home.changeRoom(rooms)"><li>{{ rooms.$value }}</li></a>
            </div>
        </ul>
    </section>
    <section class="disconnect-change">
        <button ng-click="home.logout(home.username, home.userKey())">Disconnect</button>
        <button ng-click="home.changeUser()">Change Username</button>
    </section>
</main>
<section class="room">
    <h2 class="current-room">{{ home.activeRoom.$value }}</h2>
    <h2 class="current-room" ng-show="!home.activeRoom.$value">Select a room</h2>
    <hr>
    <div class="message" ng-repeat="messages in home.messages">
        <p class="username" style="display: inline">{{ messages.username }}</p>
        <p class="sent-at" style="display: inline">{{ messages.sentAt }}</p>
        <p class="message-content">{{ messages.content }}</p>
    </div>
    <div class="textbox">
        <form ng-show="home.activeRoom.$value" ng-submit="home.sendMessage(home.message)">
          Enter text and hit enter:
          <input type="text" ng-model="home.message" name="text" />
          <input type="submit" id="submit" value="Submit" ng-click="home.message = null" />
        </form>
    </div>
</section>
<section class="online-users">
    <h2 class="current-room">Online Users:</h2>
    <div ng-repeat="users in home.activeUsers">
        <p>{{users.$value}}</p>
    </div>
</section>
